/*  Tim Verlaan
    11691328
    Displaying JSON data in HTML Canvas */

    #info
{
    font:Verdana, Geneva, sans-serif;
    font-size:16px;
    text-align:middle;
    background-color:#CCD1D1  ;
    height:75px;
    width: 960px;
    vertical-align:middle;
    white-space: pre;
    font-weight: bold;
}


.bar:hover 
{
    fill: brown;
}

/* Tool tip CSS from: http://bl.ocks.org/Caged/6476579 */
.d3-tip 
{
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after 
{
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after 
{
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#buttons 
{
    padding: 10px; 
}

#title
{
    font-size: 22px;
    font-weight: bold
}
